# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Environment
.venv/
.env
.env.*

# Build & Packaging
build/
dist/
*.egg-info/

# IDEs & Editors
.vscode/
.DS_Store

# Node (if ever used)
node_modules/
